*.suo
*.snk
*/bin
*/obj
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
*.score.ini
*.tja
*.ogg
OpenTaiko-Studio.exe
Favorite.json
NamePlate.json
RecentlyPlayedSongs.json
/packages
/.vs
/Test/Global/Characters/0
/Test/PuchiChara/0
/Test/System/*
/Test/Capture_img
/Test/Songs
/Test/System